package test

import (
    "fmt"
	"testing"
    "github.com/stretchr/testify/assert"
    "github.com/davecgh/go-spew/spew"
)

func TestSlice@@T@@(t *testing.T) {
	a := SliceTestObject{}
	b := SliceTestObject{}
    assert.Equal(t, a, b)
    assert.Equal(t, a.Equals(b), true, fmt.Sprintf("\an:\n%s\nb:\n%s\n", spew.Sdump(a), spew.Sdump(b)))

    // make a longer than b
    a.V@@T@@ = append(a.V@@T@@, @@VA@@)
    testSlice@@T@@DiffAndApply(t, a, b, 1)
    
    // make a and b the same length, but with a change.
    b.V@@T@@ = append(b.V@@T@@, @@VB@@)
    testSlice@@T@@DiffAndApply(t, a, b, 1)

    // make a shorter than b
    a = SliceTestObject{}
    testSlice@@T@@DiffAndApply(t, a, b, 1)

    // make both non-nil, and a longer than b
    a.V@@T@@ = append(a.V@@T@@, @@VB@@)
    a.V@@T@@ = append(a.V@@T@@, @@VA@@)
    testSlice@@T@@DiffAndApply(t, a, b, 1)

    // make both same length, but with a change
    b.V@@T@@ = append(b.V@@T@@, @@VB@@)
    testSlice@@T@@DiffAndApply(t, a, b, 1)
    
    // make both non-nil, and a shorter than b
    a.V@@T@@ = a.V@@T@@[:len(a.V@@T@@)-1]
    testSlice@@T@@DiffAndApply(t, a, b, 1)

    // make 2 changes
    a.V@@T@@[0] = @@VA@@
    testSlice@@T@@DiffAndApply(t, a, b, 2)
}

func testSlice@@T@@DiffAndApply(t *testing.T, a, b SliceTestObject, numChanges int) {
    assert.Equal(t, a.Equals(b), false, fmt.Sprintf("\na:\n%s\nb:\n%s\n", spew.Sdump(a), spew.Sdump(b)))
    assert.NotEqual(t, a, b)

	d := a.Diff(b)
    assert.Equal(t, numChanges , len(d.Chgs), spew.Sdump(d))

	a.Apply(d)
    assert.Equal(t, a.Equals(b), true, fmt.Sprintf("\na:\n%s\nb:\n%s\ndiff:\n%s", spew.Sdump(a), spew.Sdump(b), spew.Sdump(d)))
    assert.Equal(t, a, b)
}
