package metago

type @@T@@MapChg struct {
    BaseChg
    Key @@t@@
    Typ ChangeType
    Chgs Diff
}

func New@@T@@MapChg(s *Attrdef, key @@t@@, typ ChangeType, chgs *Diff) Chg {
    return &@@T@@MapChg{BaseChg: BaseChg{schemaref: s}, Key: key, Typ: typ, Chgs: *chgs}
}
